#map {
      height: 700px;
      width: 100%;
      margin-top: 20px;
    }

    #blur-overlay {
      position: fixed;
      top: 0; left: 0; right: 0; bottom: 0;
      background: rgba(0, 0, 0, 0.7);
      backdrop-filter: blur(6px);
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 9999;
      font-size: 18px;
      color: #b6b6b6;
      flex-direction: column;
    }

    #blur-overlay.hidden {
      display: none;
    }

    #blur-overlay p {
      margin-bottom: 20px;
      font-weight: bold;
    }

    #login-prompt button {
      padding: 1rem 2rem;
      font-size: 1.2rem;
      background-color: #7289da;
      border: none;
      color: white;
      border-radius: 8px;
      cursor: pointer;
    }

    #login-prompt button:hover {
      background-color: #5b6eae;
    }

